* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 15px;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1140px;
	width: 100%;
}

.header {
	padding: 15px 0 20px 0;
}

.header__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__wrap__nav__list {
	display: flex;
	list-style: none;
}

.header__wrap__nav__list {
	margin: auto -10px auto auto;
}

.header__wrap__nav__list .header__wrap__nav__list--item {
	padding: 0 10px;
}

.header__wrap__nav__list .header__wrap__nav__list--item a {
	text-decoration: none;
	color: #000;
	font-weight: 500;
}

.absol__wrap {
	position: relative;
	max-height: 850px;
 	overflow: hidden;
}

.absol__background img {
	display: block;
	width: 100%;
}

.absol__cont {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(39, 40, 41, 0.8);
}

.absol__cont__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 162px;
}

.absol__cont__text__title {
	display: block;
	font-family: "Libre Baskerville"; 
	font-size: 60px;
	line-height: 85px;
	color: #fff;
	max-width: 821px;
	text-align: center;
	padding-bottom: 6px;
}

.absol__cont__text__btn {
	padding-top: 40px;
	padding-bottom: 80px;
}

.btn {
	outline: none;
	border: 0;
	height: 50px;
	width: 180px;
	background: #fc5f45;
	border-radius: 25px;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}


.btn:hover {
	background-color: #e64437;
}

.btn:active {
	background-color: #b81609;
}

.absol__cont__text__items {
	display: flex;
}

.absol__cont__text__items--green {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #38c695;
	font-size: 18px;
	text-transform: uppercase;
	padding: 0 50px;
}

.absol__cont__text__items--blue {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #ab78ea;
	font-size: 18px;
	text-transform: uppercase;
	padding: 0 50px;
}

.absol__cont__text__items--yellow {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fdb860;
	font-size: 18px;
	text-transform: uppercase;
	padding: 0 50px;
}

.icoz {
	font-size: 30px;
}

.absol__cont__text__items--tgreen {
	display: block;
	padding-top: 30px;
}

.absol__cont__text__items--tblue {
	display: block;
	padding-top: 30px;
}

.absol__cont__text__items--tyellow {
	display: block;
	padding-top: 30px;
}


.about__wrap {
	display: flex;
	padding-top: 150px;
	padding-bottom: 150px;
}

.about__left {
	z-index: 1;
}

.about__left img {
	display: block;
}

.about__right {
	width: 654px;
	height: 546px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-image: url(../img/line.png);
	background-repeat: no-repeat;
	background-position-y: bottom;
	z-index: 2;
	margin-left: -67px;
	margin-top: 75px;
	position: relative;
	background-color: #fff;
	padding: 110px 0 50px 67px;
}

.about__right__count {
	position: absolute;
	z-index: -1;
	font-size: 273px;
	font-weight: bold;
	line-height: 0.8em;
	color: #f6f6f6;
	top: 0;
	left: 0;
}

.about__right__title {
	display: block;
	font-size: 50px;
	font-weight: bold;
	font-family: "Libre Baskerville";
	padding-bottom: 28px;

}

.about__right__small {
	line-height: 27px;
	display: block;
	max-width: 491px;
}

.about__right__small p {
	margin-bottom: 32px;
}

.focus {
	background: #f7f7f7;
	padding-bottom: 150px;
}

/* 			Общий заголовок */

.all__title__wrap{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 140px;
	padding-bottom: 68px;

}

.all__count {
	font-size: 273px;
	font-weight: bold;
	color: #f0f0f0;
	z-index: 1;
	position: absolute;
	top: 0;
	line-height: 0.8em;
}

.all__title {
	z-index: 2;
}

.all__small {
	z-index: 2;
	font-size: 18px;
}

.focus__analytics {
	display: flex;
	padding-top: 80px;
}

.focus__analytics__item{
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 15px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding: 60px 0 60px 0;
}

.iconr {
	font-size: 60px;
	color: #fd7e69;
}

.icong {
	font-size: 60px;
	color: #38c695;
}

.iconb {
	font-size: 60px;
	color: #ab78ea;
}

.icony {
	font-size: 60px;
	color: #feb960;
}

.focus__analytics__item__big {
	font-size: 20px;
	font-weight: 500;
	display: block;
	padding: 25px 0 25px 0;
}

.focus__analytics__item__small {
	display: block;
	max-width: 199px;
	text-align: center;
	line-height: 27px;
}

.borderr {
	border-bottom: 4px #fd7e69 solid;
}

.borderg {
	border-bottom: 4px #38c695 solid;
}

.borderb {
	border-bottom: 4px #ab78ea solid;
}

.bordery {
	border-bottom: 4px #feb960 solid;
}

.video {
	width: 100%;
	height: 500px;
}

.video__wrap {
	position: relative;
	width: 100%;
	height: 500px;
	
}

.video__metal iframe {
	position: absolute;
	width: 100%;
}

.video__metal {
	width: 100%;
	height: 500px;
}

.video__metal__text {
	position: absolute;
	color: #fff;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.video__metal__text--big {
	font-size: 30px;
	position: absolute;
	top: 145px;
}

.video__metal__text--small {
	font-size: 15px;
	position: absolute;
	top: 292px;
}

.portfolio {
	padding-bottom: 109px;
}

.portfolio__progects {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px 0 -10px;
}
	/*Выплывающая подсказка на картинке при наведении*/

.portfolio__progects__item {
	padding: 10px;
	position: relative;
	width: calc(100%/3);
}

.portfolio-caption {
	position: absolute;
	bottom: 0;
	background: #fff;
	left: 10px;
	right: 10px;
	font-size: 18px;
	color: #000;
	letter-spacing: 1px;
	line-height: 64px;
	text-align: center;
	/* padding: 6px 0; */
	/*display: none;*/  /*если без анимации*/
	opacity: 0; /*прозрачный*/
	transition-duration: 0.9s;
	background-image: url(../img/line_port.png);
	background-repeat: no-repeat;
	background-position-y: top;
}

.portfolio__progects__item img {
	display: block;
}

.portfolio__progects__item:hover .portfolio-caption {
	/* display: block; */ 
	opacity: 1;  /*непрозрачный*/

}

.team {
	background-color: #f7f7f7;
}

.team__wrap {
	margin: 0 -15px;
}


.team__positions {
	display: flex;
	padding-top: 80px;
	padding-bottom: 550px;
	position: relative;
	
}

.team__positions__item{
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 15px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	
}

.team__positions__item__big {
	font-size: 20px;
	font-weight: 500;
	display: block;
	padding: 25px 0 25px 0;
}

.red_pos {
	color: #fd7e69;
}

.gre_pos {
	color: #38c695;
}

.blu_pos {
	color: #ab78ea;
}

.yel_pos {
	color: #fdb860;
}

.team__positions__item__small {
	display: block;
	max-width: 199px;
	text-align: center;
	line-height: 27px;
}

.team__positions__item {
	position: relative;
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 15px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	
}

.team__caption {
	position: absolute;
	background: #fff;
	display: none;
	height: 352px;
	width: 1109px;
	bottom: 160px;
	left: 15px;
}

.team__caption:before {
	content:'';
	display:block;
	width:0;
	height:0;
	position:absolute;
	border-top: 30px solid transparent;
	border-bottom: 30px solid #fff;
	border-right: 25px solid transparent;
	border-left: 25px solid transparent;
	left: 100px;
	top: -60px;
}

.r-a2:before {
	left: 370px;
}

.r-a3:before {
	left: 660px;
}

.r-a4:before {
	left: 945px;
}

.team__caption-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.team__caption-info--big {
	display: block;
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 20px;
}

.team__caption-info {
	padding-left: 100px;
	padding-top: 80px;
}

.team__caption-info--small {
	display: block;
	max-width: 631px;
	line-height: 27px;
}

.team__caption-social {
	display: flex;
	align-items: center;
	padding-top: 125px;
}

.team__caption-social__items__list {
	list-style: none;
	padding-top: 15px;
	padding-bottom: 15px;
}

.team__caption-social__items__list a {
	text-decoration: none;
	color: #616161;
}

.share {
	color: #fc5f45;
	font-size: 50px;
	padding-top: 15px;
}

.team__caption-social__share {
	padding-right: 35px;
}

.team__caption-social__items {
	border-left: 2px #efefef solid;
	padding-left: 25px;
	padding-right: 106px;
}

.team__caption-social__item {
	padding: 5px 0;
}

.fa-r {
	padding-right: 5px;
}

.statistic__wrap {
	position: relative;
}

.statistic__background img {
	display: block;
	width: 100%;
}

.statistic__content {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(39, 40, 41, 0.8);
}

.statistic__content__list {
	display: flex;
	justify-content: space-between;
}

.statistic__content__list-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25%;

}

.statistic__content__list-item__num {
	color: #fff;
	display: block;
	font-size: 20px;
	font-weight: 500;
	padding-top: 15px;
}

.statistic__content__list-item__txt {
	color: #fff;
	display: block;
	padding: 16px 0 35px 0;
}

.steps {
	padding-top: 10px;
}

.steps__proj {
	display: flex;
	padding-top: 55px;
}

.steps__proj-pic img {
	width: 556px;
	height: auto;
}

.steps__proj-pic {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
}

.steps__left {
	width: 460px;
	height: 300px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	z-index: 2;
	margin-right: -461px;
	margin-top: -50px;
	position: relative;
	background-color: #fff;
	padding: 40px 0 50px 122px;
}

.steps__left__count {
	position: absolute;
	z-index: -1;
	font-size: 50px;
	font-family: "Libre Baskerville";
	font-weight: bold;
	line-height: 0.8em;
	color: #e0e0e0;
	top: 0;
	left: 0;
	padding: 40px 0 0 40px;
}

.steps__left__title {
	display: block;
	font-size: 25px;
	padding-bottom: 10px;

}

.steps__left__small {
	line-height: 27px;
	display: block;
	max-width: 288px;
}

.steps__left__small p {
	margin-bottom: 32px;
}


.steps__right {
	width: 460px;
	height: 300px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	z-index: 2;
	margin-right: -160px;
	margin-top: -50px;
	position: relative;
	background-color: #fff;
	padding: 40px 0 50px 122px;
}

.steps__right__count {
	position: absolute;
	z-index: -1;
	font-size: 50px;
	font-family: "Libre Baskerville";
	font-weight: bold;
	line-height: 0.8em;
	color: #e0e0e0;
	top: 0;
	left: 0;
	padding: 40px 0 0 40px;
}

.steps__right__title {
	display: block;
	font-size: 25px;
	padding-bottom: 10px;

}

.steps__right__small {
	line-height: 27px;
	display: block;
	max-width: 288px;
}

.steps__right__small p {
	margin-bottom: 32px;
}

.right_02 {
	margin-left: -165px;
	margin-top: 239px;
}

.left_03 {
	margin-right: -165px;
	margin-top: 550px;
}

.right_04 {
	margin-left: -300px;
	margin-top: 855px;
}